<div>
    <h2 translate="istruttoriaApp.capoPagato.home.title">Capo Pagatoes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <!--  
             <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="capo-pagato.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="istruttoriaApp.capoPagato.home.createLabel">
                        Create new Capo Pagato
                    </span>
                </button>
            </div>
             -->
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'istruttoriaApp.capoPagato.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span><span class="glyphicon glyphicon-sort"></span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="marcaCapo"><span translate="istruttoriaApp.capoPagato.marcaCapo">Marca Capo</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ammissibile"><span translate="istruttoriaApp.capoPagato.ammissibile">Ammissibile</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numUba"><span translate="istruttoriaApp.capoPagato.numUba">Num Uba</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mancanzaAnalisiLatte"><span translate="istruttoriaApp.capoPagato.mancanzaAnalisiLatte">Mancanza Analisi Latte</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="medieLatteSoma"><span translate="istruttoriaApp.capoPagato.medieLatteSoma">Medie Latte Soma</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="medieLatteGerm"><span translate="istruttoriaApp.capoPagato.medieLatteGerm">Medie Latte Germ</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="medieLatteProt"><span translate="istruttoriaApp.capoPagato.medieLatteProt">Medie Latte Prot</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="codAsl"><span translate="istruttoriaApp.capoPagato.codAsl">Cod Asl</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="flagSess"><span translate="istruttoriaApp.capoPagato.flagSess">Flag Sess</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataNasc"><span translate="istruttoriaApp.capoPagato.dataNasc">Data Nasc</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="codiRazz"><span translate="istruttoriaApp.capoPagato.codiRazz">Codi Razz</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataInizDete"><span translate="istruttoriaApp.capoPagato.dataInizDete">Data Iniz Dete</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dataFineDete"><span translate="istruttoriaApp.capoPagato.dataFineDete">Data Fine Dete</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pagamento.id"><span translate="istruttoriaApp.capoPagato.pagamento">Pagamento</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="capoPagato in vm.capoPagatoes track by capoPagato.id">
                    <td><a ui-sref="capo-pagato-detail({id:capoPagato.id})">{{capoPagato.id}}</a></td>
                    <td>{{capoPagato.marcaCapo}}</td>
                    <td>{{capoPagato.ammissibile}}</td>
                    <td>{{capoPagato.numUba}}</td>
                    <td>{{capoPagato.mancanzaAnalisiLatte}}</td>
                    <td>{{capoPagato.medieLatteSoma}}</td>
                    <td>{{capoPagato.medieLatteGerm}}</td>
                    <td>{{capoPagato.medieLatteProt}}</td>
                    <td>{{capoPagato.codAsl}}</td>
                    <td>{{capoPagato.flagSess}}</td>
                    <td>{{capoPagato.dataNasc}}</td>
                    <td>{{capoPagato.codiRazz}}</td>
                    <td>{{capoPagato.dataInizDete}}</td>
                    <td>{{capoPagato.dataFineDete}}</td>
                    <td>
                        <a ui-sref="pagamento-detail({id:capoPagato.pagamento.id})">{{capoPagato.pagamento.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="capo-pagato-detail({id:capoPagato.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <!-- 
                            <button type="submit"
                                    ui-sref="capo-pagato.edit({id:capoPagato.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="capo-pagato.delete({id:capoPagato.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                             -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
