<div>
    <h2 translate="istruttoriaApp.soggetto.home.title">Soggettos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="soggetto.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="istruttoriaApp.soggetto.home.createLabel">
                        Create new Soggetto
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'istruttoriaApp.soggetto.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="istruttoriaApp.soggetto.cuaa">Cuaa</span></th>
                    <th><span translate="istruttoriaApp.soggetto.denominazione">Denominazione</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="soggetto in vm.soggettos track by soggetto.id">
                    <td><a ui-sref="soggetto-detail({id:soggetto.id})">{{soggetto.id}}</a></td>
                    <td>{{soggetto.cuaa}}</td>
                    <td>{{soggetto.denominazione}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="soggetto-detail({id:soggetto.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="soggetto.edit({id:soggetto.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="soggetto.delete({id:soggetto.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <form name="reportForm" class="form-inline">
            <div class="btn-group flex-btn-group-container">
			    <button type="submit" class="btn btn-info" ng-click="vm.report()">
			        <span class="glyphicon glyphicon-file"></span>&nbsp;<span translate="istruttoriaApp.soggetto.report">Report</span>
			    </button>
            </div>
	    </form>
    </div>
</div>
