<div>
    <h2 translate="istruttoriaApp.superficieInverdimento.home.title">Superficie Inverdimentos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="superficie-inverdimento.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="istruttoriaApp.superficieInverdimento.home.createLabel">
                        Create new Superficie Inverdimento
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'istruttoriaApp.superficieInverdimento.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supeSemi">Supe Semi</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supePrimColt">Supe Prim Colt</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supeSecoColt">Supe Seco Colt</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supeAltrColt">Supe Altr Colt</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supePrimMax">Supe Prim Max</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supeSecoMax">Supe Seco Max</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supePrimDiff1">Supe Prim Diff 1</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supePrimDiff2">Supe Prim Diff 2</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.tassoDiffPrim">Tasso Diff Prim</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supePrimRidu">Supe Prim Ridu</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supeSecoDiff1">Supe Seco Diff 1</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supeSecoDiff2">Supe Seco Diff 2</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.tassoDiffSeco">Tasso Diff Seco</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supeSecoRidu">Supe Seco Ridu</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.totaTassoDiff">Tota Tasso Diff</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supeRiduDive">Supe Ridu Dive</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supeEfa">Supe Efa</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supeEfaObbl">Supe Efa Obbl</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supeEfaDiff">Supe Efa Diff</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.tassoDiffEfa">Tasso Diff Efa</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supeRiduEfa">Supe Ridu Efa</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.totaRidu">Tota Ridu</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supePagaSemi">Supe Paga Semi</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supePratSens">Supe Prat Sens</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supePratNsens">Supe Prat Nsens</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supePerm">Supe Perm</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.supeInve">Supe Inve</span></th>
                    <th><span translate="istruttoriaApp.superficieInverdimento.domanda">Domanda</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="superficieInverdimento in vm.superficieInverdimentos track by superficieInverdimento.id">
                    <td><a ui-sref="superficie-inverdimento-detail({id:superficieInverdimento.id})">{{superficieInverdimento.id}}</a></td>
                    <td>{{superficieInverdimento.supeSemi}}</td>
                    <td>{{superficieInverdimento.supePrimColt}}</td>
                    <td>{{superficieInverdimento.supeSecoColt}}</td>
                    <td>{{superficieInverdimento.supeAltrColt}}</td>
                    <td>{{superficieInverdimento.supePrimMax}}</td>
                    <td>{{superficieInverdimento.supeSecoMax}}</td>
                    <td>{{superficieInverdimento.supePrimDiff1}}</td>
                    <td>{{superficieInverdimento.supePrimDiff2}}</td>
                    <td>{{superficieInverdimento.tassoDiffPrim}}</td>
                    <td>{{superficieInverdimento.supePrimRidu}}</td>
                    <td>{{superficieInverdimento.supeSecoDiff1}}</td>
                    <td>{{superficieInverdimento.supeSecoDiff2}}</td>
                    <td>{{superficieInverdimento.tassoDiffSeco}}</td>
                    <td>{{superficieInverdimento.supeSecoRidu}}</td>
                    <td>{{superficieInverdimento.totaTassoDiff}}</td>
                    <td>{{superficieInverdimento.supeRiduDive}}</td>
                    <td>{{superficieInverdimento.supeEfa}}</td>
                    <td>{{superficieInverdimento.supeEfaObbl}}</td>
                    <td>{{superficieInverdimento.supeEfaDiff}}</td>
                    <td>{{superficieInverdimento.tassoDiffEfa}}</td>
                    <td>{{superficieInverdimento.supeRiduEfa}}</td>
                    <td>{{superficieInverdimento.totaRidu}}</td>
                    <td>{{superficieInverdimento.supePagaSemi}}</td>
                    <td>{{superficieInverdimento.supePratSens}}</td>
                    <td>{{superficieInverdimento.supePratNsens}}</td>
                    <td>{{superficieInverdimento.supePerm}}</td>
                    <td>{{superficieInverdimento.supeInve}}</td>
                    <td>
                        <a ui-sref="domanda-detail({id:superficieInverdimento.domanda.id})">{{superficieInverdimento.domanda.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="superficie-inverdimento-detail({id:superficieInverdimento.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="superficie-inverdimento.edit({id:superficieInverdimento.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="superficie-inverdimento.delete({id:superficieInverdimento.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
