<div>
    <h2 translate="istruttoriaApp.pagamento.home.title">Pagamentos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pagamento.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="istruttoriaApp.pagamento.home.createLabel">
                        Create new Pagamento
                    </span>
                </button>
            </div> -->
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'istruttoriaApp.pagamento.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="codIntervento"><span translate="istruttoriaApp.pagamento.codIntervento">Cod Intervento</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qntaDich"><span translate="istruttoriaApp.pagamento.qntaDich">Qnta Dich</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qntaAmme"><span translate="istruttoriaApp.pagamento.qntaAmme">Qnta Amme</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qntaLiqu"><span translate="istruttoriaApp.pagamento.qntaLiqu">Qnta Liqu</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="impoDich"><span translate="istruttoriaApp.pagamento.impoDich">Impo Dich</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="impoAmme"><span translate="istruttoriaApp.pagamento.impoAmme">Impo Amme</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="impoLiqu"><span translate="istruttoriaApp.pagamento.impoLiqu">Impo Liqu</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="codiNumeCapiSpes"><span translate="istruttoriaApp.pagamento.codiNumeCapiSpes">Codi Nume Capi Spes</span><span class="glyphicon glyphicon-sort"></span></th>
                   <!--  <th jh-sort-by="percSanzGcol"><span translate="istruttoriaApp.pagamento.percSanzGcol">Perc Sanz Gcol</span><span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="percSanzAzie"><span translate="istruttoriaApp.pagamento.percSanzAzie">Perc Sanz Azie</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valoMediTito"><span translate="istruttoriaApp.pagamento.valoMediTito">Valo Medi Tito</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="impoTratFina"><span translate="istruttoriaApp.pagamento.impoTratFina">Impo Trat Fina</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="elencoPagamento.id"><span translate="istruttoriaApp.pagamento.elencoPagamento">Elenco Pagamento</span><span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pagamento in vm.pagamentos track by pagamento.id">
                    <td><a ui-sref="pagamento-detail({id:pagamento.id})">{{pagamento.id}}</a></td>
                    <td>{{pagamento.codIntervento}}</td>
                    <td>{{pagamento.qntaDich}}</td>
                    <td>{{pagamento.qntaAmme}}</td>
                    <td>{{pagamento.qntaLiqu}}</td>
                    <td>{{pagamento.impoDich}}</td>
                    <td>{{pagamento.impoAmme}}</td>
                    <td>{{pagamento.impoLiqu}}</td>
                    <td>{{pagamento.codiNumeCapiSpes}}</td>
               <!--      <td>{{pagamento.percSanzGcol}}</td> -->
                    <td>{{pagamento.percSanzAzie}}</td>
                    <td>{{pagamento.valoMediTito}}</td>
                    <td>{{pagamento.impoTratFina}}</td>
                    <td>
                        <a ui-sref="elenco-pagamento-detail({id:pagamento.elencoPagamento.id})">{{pagamento.elencoPagamento.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pagamento-detail({id:pagamento.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <!-- <button type="submit"
                                    ui-sref="pagamento.edit({id:pagamento.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pagamento.delete({id:pagamento.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
